<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>PNG to ICO Converter</title>
  <link rel='stylesheet' href='/static/style.css'>
</head>
<body>
  <div class='container'>
    <h2><span style="white-space:nowrap;">PNG → ICO</span> 変換サービス</h2>
    <div style="color:#6366f1; font-size:1em; margin-bottom:1em; text-align:left;">
      <b>推奨フォーマット：</b><br>
      ・PNG形式<br>
      ・正方形（1:1）<br>
      ・256px × 256px 以上<br>
    </div>
    <form enctype='multipart/form-data' method='post'>
      <input name='file' type='file' accept='.png' required/><br><br>
      <input type='submit' value='.ico ファイルをダウンロード'/>
    </form>
    <div class='footer'>
      &copy; 2025 PNG to ICO Web<br>by Nagaemonn
    </div>
  </div>
</body>
</html> 